---
import Img1 from "../assets/images/automotive-motors1.png";
import Img2 from "../assets/images/automotive-motor2.png";
import Img3 from "../assets/images/automotive-motors3.png";
import Img4 from "../assets/images/automotive-motor4.png";

// let arr:number[] = [1,2,3,4];
// let str:string = "bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]";
// let cardWrapper = document.querySelector(".card-wrapper") as HTMLElement;
---

<!-- <script>
  let arr:number[]= [1, 2, 3, 4];
  let str:string="bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]";
  let cardWrapper = document.querySelector(".card-wrapper") as HTMLElement;
  function createCard(data:number[]):void {
        data.forEach((e) => {
          let card = document.createElement("div");
          card.classList.add(str);
          card.innerHTML = `
        <h2 class="text-[#333] text-[24px] font-bold w-[366px]">
          Б/у запчасти для грузовых авто из Европы
        </h2>
        <p
          class="text-[16px] text-[rgba(51,51,51,0.70)] font-normal w-[253px] leading-tight pt-2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <img src={Img${e}.src} alt="automotive-motors" class="absolute bottom-0 right-0">
                `;
          cardWrapper.appendChild(card);
        })
    }

    createCard(arr)


</script> -->

<section>
  <div class="container mx-auto px-[20px] my-[58px]">
    <h1 class="text-[40px] text-[#333] font-bold text-center mb-4">
      Любые услуги за ваши денишки
    </h1>
    <p
      class="text-[18px] text-[rgba(51,51,51,0.70)] font-normal text-center w-[540px] px-2 mx-auto"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et,
      lectus sit lorem id integer.
    </p>
    <div class="card-wrapper pt-12 px-[180px] grid grid-cols-2 gap-y-12">
      
      <div
        class="bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]"
      >
        <h2 class="text-[#333] text-[24px] font-bold w-[366px]">
          Б/у запчасти для грузовых авто из Европы
        </h2>
        <p
          class="text-[16px] text-[rgba(51,51,51,0.70)] font-normal w-[253px] leading-tight pt-2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <img src={Img1.src} alt="automotive-motors" class="absolute bottom-0 right-0">
      </div>
      <div
        class="bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]"
      >
        <h2 class="text-[#333] text-[24px] font-bold w-[366px]">
          Б/у запчасти для грузовых авто из Европы
        </h2>
        <p
          class="text-[16px] text-[rgba(51,51,51,0.70)] font-normal w-[253px] leading-tight pt-2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <img src={Img2.src} alt="automotive-motors" class="absolute bottom-0 right-0">
      </div>
      <div
        class="bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]"
      >
        <h2 class="text-[#333] text-[24px] font-bold w-[366px]">
          Б/у запчасти для грузовых авто из Европы
        </h2>
        <p
          class="text-[16px] text-[rgba(51,51,51,0.70)] font-normal w-[253px] leading-tight pt-2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <img src={Img3.src} alt="automotive-motors" class="absolute bottom-0 right-0">
      </div>
      <div
        class="bg-[#F4F6FA] rounded-lg py-[25px] px-[28px] relative w-[505px] h-[287px]"
      >
        <h2 class="text-[#333] text-[24px] font-bold w-[366px]">
          Б/у запчасти для грузовых авто из Европы
        </h2>
        <p
          class="text-[16px] text-[rgba(51,51,51,0.70)] font-normal w-[253px] leading-tight pt-2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
          et, lectus sit lorem id integer.
        </p>
        <img src={Img4.src} alt="automotive-motors" class="absolute bottom-0 right-0">
      </div>
    </div>
  </div>
</section>
